@font-face {
	font-family: 'Gilam-Bold';
	src: url('../fonts/Gilam-Black.woff2') format('woff2'),
		url('../fonts/Gilam-Black.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gilam-Thin';
	src: url('../fonts/Gilam-ThinItalic.woff2') format('woff2'),
		url('../fonts/Gilam-ThinItalic.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #171717;
	color: #FFFFFF;
	font-family: 'Gilam-Bold';
	font-style: normal;
	font-weight: 700;
}

.container {
	max-width: 1465px;
	width: 100%;
	margin: 0 auto;
}

.header__flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 130px;
}

.header__logo {
	width: 216px;
}

.header__logo_img {
	width: 100%;
}

.header__contacts {
	display: flex;
	justify-content: space-around;
	width: 30%;
}

.header__contacts_text {
	font-family: 'Circe';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 29px;
	color: #D6AF76;
	padding: 10px 0;
}

.white {
	color: #fff;
}

.btn {
	display: block;
	font-family: 'Circe';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #E4B564;
	border: 1px solid #E4B564;
	text-decoration: none;
	padding: 10px 25px;
}

.icon {
	vertical-align: middle;
}

.networks {
	margin-top: 80px;
	padding: 80px 0;
	background-image: url(../img/header-bg.jpeg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	font-size: 50px;
	line-height: 28px;

}

.subtitle {
	font-size: 20px;
	line-height: 28px;
	margin: 41px 0;
}

.networks__grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 27px;
	height: 961px;
}

.networks__grid_item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 43px;
	text-align: center;
}

.networks__grid_item_1 {
	background: #634F2C;
	grid-area: 1/1/2/3;
}

.networks__grid_item_2 {
	background: #B4A385;
	grid-area: 1/3/2/5;
}

.networks__grid_item_3 {
	background: #E4B564;
	grid-area: 1/5/2/7;
}

.networks__grid_item_4 {
	background: #635A4A;
	grid-area: 2/1/3/4;
}

.networks__grid_item_5 {
	background: #B08C4D;
	grid-area: 2/4/3/7;
}

.park {
	margin-top: 161px;
	padding: 80px 0;
	background-image: url(../img/parallax-bg.jpeg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.park__grid {
	margin-top: 94px;
	display: grid;
	height: 897px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(9, 1fr);
	gap: 30px;
	grid-template-areas:
		"item1 item2 item3"
		"item1 item2 item3"
		"item1 item2 item3"
		"item1 item2 item6"
		"item4 item2 item6"
		"item4 item5 item6"
		"item4 item5 item7"
		"item4 item5 item7"
		"item4 item5 item7"
	;
}

.park__grid_item {
	padding: 44px 52px;
}

.park__grid_item_1 {
	background: #0E0E0E;
	grid-area: item1;
}

.park__grid_item_2 {
	background: #242424;
	grid-area: item2;
}

.park__grid_item_3 {
	background: #1F1F1F;
	grid-area: item3;
}

.park__grid_item_4 {
	background: #1F1F1F;
	grid-area: item4;
}

.park__grid_item_5 {
	background: #E4B564;
	grid-area: item5;
}

.park__grid_item_6 {
	background: #0E0E0E;
	grid-area: item6;
}

.park__grid_item_7 {
	background: #0A0909;
	grid-area: item7;
}

.park__grid_item_text {
	font-family: 'Gilam-Thin';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
}

.black {
	color: #000
}

.clients {
	background: #0E0E0E;
	margin-bottom: 238px;
}

.clients__flex {
	padding-top: 172px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.clients__grid {
	display: grid;
	height: 782px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
		"item1 item2 item3"
		"item4 item5 item6";
	margin-top: 72px;
}

.clients__grid_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.clients__grid_item_1 {
	background: #634F2C;
	grid-area: item1;
}

.clients__grid_item_2 {
	background: rgba(232, 210, 171, 0.76);
	grid-area: item2;
}

.clients__grid_item_3 {
	background: #E4B564;
	grid-area: item3;
}

.clients__grid_item_4 {
	background: #635A4A;
	grid-area: item4;
}

.clients__grid_item_5 {
	background: #B08C4D;
	grid-area: item5;
}

.clients__grid_item_6 {
	background: #634F2C;
	grid-area: item6;
}

.clients__grid_item_text {
	font-family: 'Gilam-Thin';
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
	display: none;
}

.bold {
	font-family: 'Gilam-Bold';
	font-weight: 700;
}

.clients__grid_item:hover .clients__grid_item_text {
	display: block;
}